.banner-luzon{
    width: min(90vw,100%);
    height: min(25vh, 100%);
    margin-bottom:5vh;
}

.luzon, .visayas, .mindanao{
    font-size:3rem;
    text-align: center;
    font-weight: bold;

}


.article-wrapper-culture {
    width: min(25vw, 90%);
    height: min(25vh, 90%);
    padding: 1rem;
    margin: 1rem 1rem;
}

.article-image-culture {
    width: min(100vw, 100%);
    height: min(100vh, 100%);
}
