.banner-luzon{
    width: min(90vw,100%);
    height: min(25vh, 100%);
    margin-bottom:5vh;
}

.luzon, .visayas, .mindanao{
    font-size:3rem;
    text-align: center;
    font-weight: bold;

}


.article-section, .article-wrapper, .article-image .article-body-culture{
    width: min(100vw, 100%);
}

.article-wrapper {
    width: min(25vw, 90%);
    height: min(50vh, 90%);
    padding: 1rem;
    margin: 1rem 1rem;
}

.article-section{
    display: flex;
    padding: 1rem;
}


@media (max-width: 920px) {
    .article-section{
        display: flex;
        flex-wrap: wrap;
    }

    .article-wrapper{
        width: min(100vw, 90%);
    height: min(50vh, 90%);
    }
}


