* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding-top: 60px;
    align-items: center;
}

.main-container {
    width: 80vw;
    height: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.content-divider-section {
    width: min(90vw,100%);             
    height: 0.2vh;            
    background-color: #726c6c;   
    margin: 2rem 0;           
}

html {
    font-size: 60%;
}



