@media (max-width: 1024px) {
    .menu {
        font-size: 14px;
    }
    .search-bar {
        max-width: 200px;
    }
}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: white;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
    .divider {
        width: 5%;
        height: 1px;
        background: navajowhite;
        border-left:none;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 100px;
    }
    .search-bar {
        max-width: 150px;
    }

}

@media (max-width: 320px) {
    .container {
        margin-top: 120px;
    }
    .search-bar {
        max-width: 100px;
    }

}