* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding-top: 60px;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    min-width: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto 10px auto 10px;
    flex: fit-content;
    flex-direction: column;
}

